---
layout: default
---

<div class="home">

  {% for collection in site.collections %}
    {% if collection.label != 'posts'  %} 
       <h3>All documents listed in collection '{{ collection.label}}'</h3>
       {% assign Collection = site.collections | where: "label", collection.label | first %}
       {% for doc in Collection.docs %}
         <li> <a href="{{ site.url }}{{ doc.url }}">{{ doc.title }}</a> </li>
       {% endfor %}
       <hr>
    {% endif %}
  {% endfor %}

  <h1 class="page-heading">Pages</h1>
  <ul class="post-list">
    {% for page in site.pages %}
      <li>
        <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
          <a  href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>

